div.tab {
  float: left;
  background-color: #f1f1f1a9;
  width: 20%;
  height: 800px;
  text-align:center;
  margin:0px;
}
div.content {
  float: right;
  background-color: #3535358a;
  width: 75%;
  height: 790px;
  margin-right:35px;
  margin-top: 10px;
}
#fonthead{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 30px;
  padding: 0px;
  text-align: center;
  color:rgb(255, 255, 255);
}
#font {
  font-family: 'Arial';
  font-size: 18px;
  text-align: center;
  color:rgb(255, 255, 255);
  margin-left:10px; 
  outline-color:#000000;
}
#font1 {
  font-family: 'Arial';
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color:rgb(31, 31, 31);
  margin-left:50px;
}
#font2 {
  font-family: 'Arial';
  font-size: 17px;
  text-align: left;
  color:rgb(31, 31, 31);
  margin-left:60px;
 
}

#block1{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
  text-align: left;
  margin-left:50px;
  color:rgb(46, 46, 46);
}
hr {
  border: 1px solid rgb(136, 136, 136);
}

/*****************************************/
form button {
  margin-top: 5px;
  background-color: white;
  border: 1px solid #2d8dc5;
  line-height: 0;
  font-size: 17px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 15px;
  border-radius: 60px;
  color: #2d8dc5;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  }
  
  form button:hover,
  form button:focus {
  color: white;
  background-color: #2d8dc5;
  }
  p.uppercase {
    text-transform: uppercase;
}
