<div class="tab">
  <br>
  <br>
  <div id='block1'>
      REVIEW PLAN
      <hr/>
  </div>
  <div *ngFor="let plan of plan;let i =index;">
    <div id='font1'>
      PLAN NAME  {{plan.plan_name}}
    </div>
    <div id='font2'>
      <br> START DATE  {{plan.startdate}}
      <br> END DATE  {{plan.enddate}}
      <br>
      <button style="margin-left:50px" type="submit" class="btn " (click)="chooseplan(i)">
      <h5>Review</h5>
      </button>  
    </div>
    <br>
  </div> 
</div>
<div class="content">
    <!--<div *ngIf="showed == false">-->
        <br>
        <div id='fonthead'>
        PLAN NAME<!--{{showed_plan_name}}--></div>
        <br>
    <div id='font'>
        <p style="float:left; margin-left:15px; ">START DATE : {{showed_startdate}}</p>
        <p style="float:right; margin-right:15px;">END DATE : {{showed_enddate}}</p> 
        <div style="text-align:left" *ngFor="let act of act;let i =index;">
          <p>{{act.date}} {{act.starttime}} {{act.type}} Activity : {{act.activityname}} Detail : {{act.detail}}</p>
        </div> 
        <br>
        PUT SCORE
        <input type="text" [(ngModel)]="review_point" />
        <button type="submit" class="btn " (click)="review()">
        <h5>Review</h5>
      </button>
      <br> 
      {{status}}
        
    </div>
    <!--</div>-->

</div>



<!--<div id="block">
  <div *ngFor="let plan of plan;let i =index;">
    <p>planname : {{plan.plan_name}}
      <br> startdate : {{plan.startdate}}
      <br> enddate : {{plan.enddate}} </p>
    <button type="submit" class="btn " (click)="chooseplan(i)">
      <h5>Review</h5>
    </button>
    <br>
  </div>
</div>
<div *ngIf="showed == false">
  <div id="block2">
    {{showed_plan_name}}
    <br>
    <p style="float:left">startdate : {{showed_startdate}}</p>
    <p style="float:right">enddate : {{showed_enddate}}</p>
    <br>

    <div style="text-align:left" *ngFor="let act of act;let i =index;">
      <p>{{act.date}} {{act.starttime}} {{act.type}} activityname : {{act.activityname}} detail : {{act.detail}}</p>
      <br>
    </div>
    put score
    <br>
    <input type="text" [(ngModel)]="review_point" />
    <button type="submit" class="btn " (click)="review()">
      <h5>Review</h5>
    </button>
    <br> {{status}}
  </div>
</div>-->