div.tab {
  float: left;
  background-color: #f1f1f1a9;
  width: 20%;
  height: 800px;
  text-align:center;
  margin:0px;
}
div.content {
  float: right;
  background-color: #969696a9;
  width: 78%;
  height: 800px;
  text-align:center;
  margin-left:10px;
}
#font {
  float: right;
  font-family: 'Arial';
  font-size: 18px;
  width: 78%;
  height: 800px;
  text-align: center;
  color:rgb(17, 17, 17);
  margin-left:10px;
}
#block1{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 30px;
  width: 750px;
  padding: 0px;
  margin: auto;
  text-align: center;
  color:rgb(17, 17, 17);
  border-bottom: none;
  border-bottom-right-radius: 25px;
}
