<p>
  <mat-toolbar color="primary">

    <span>Day1 </span>
    <span clasee="example-spacer"> </span>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="act_temp = 'Chiangmai';isActCreate=true">Chiangmai</button>
    <!--  ex activites (need database) -->
    <button mat-menu-item (click)="act_temp = 'Bankkok';isActCreate=true">Bankok</button>
    <!--  ex activites (need database) -->
    <button mat-menu-item (click)="act_temp = 'Phuket';isActCreate=true">Bankok</button>
    <!--  ex activites (need database) -->
    <button mat-menu-item (click)="act_temp = 'Krabi';isActCreate=true">Bankok</button>
    <!--  ex activites (need database) -->
  </mat-menu>
</p>