<div id="backs">

  <ul>
    <li style="float:left">
      <div id="lato_font">TRIPLANNER
        <br>
      </div>
    </li>
    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/deleteplan')">Deleteplan</button>
    </li>

    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/editplan')">Editplan</button>
    </li>

    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/favnoti')">Favnonification</button>
    </li>

    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/review-post')">Review&post</button>
    </li>

    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/co-planning')">Co-planning</button>
    </li>

    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/createplan')">Createplan</button>
    </li>


    <li>
      <br>
      <br>
      <button type="submit" class="lato_font" (click)="canlink('/home')">Home</button>
    </li>




  </ul>

</div>