<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <ul>
      <div class="topnav" id="myTopnav">
          <li style="float:left">
            <div id="font"><img src="/assets/images/1.png" style="width:30px; ">TRIPLANNER</div></li>
          <a style="float:right" type="submit" class="lato_font" (click)="canlink('/login')">Login</a>
          <a style="float:right" type="submit" class="lato_font" (click)="canlink('/home')">Home</a>
          
     </div>     
  </ul>
  <div id="mySidenav" class="sidenav">
        <a id="create" style="float:right" type="submit" class="lato_font1" (click)="canlink('/createplan')">CREATE PLAN</a>
        <a id="edit" style="float:right" type="submit" class="lato_font1" (click)="canlink('/editplan')">EDIT<br>PLAN</a>
        <a id="review" style="float:right" type="submit" class="lato_font1" (click)="canlink('/review-post')">REVIEW PLAN</a>
        
</div>
