<div id="backs">

  <ul>
    <li style="float:left">
      <div id="lato_font">TRIPLANNER
        <br>
      </div>
    </li>
    <!-- <li>
      
      <button type="submit" class="lato_font" (click)="canlink('/deleteplan')">Delete Plan</button>
    </li> -->

    <li>
      
      <button type="submit" class="lato_font" (click)="canlink('/editplan')">My Plan</button>
    </li>

    <li>
     
      <button type="submit" class="lato_font" (click)="canlink('/favnoti')">Notification</button>
    </li>

    <li>
      
      <button type="submit" class="lato_font" (click)="canlink('/review-post')">Review&Post</button>
    </li>

    <li>
      
      <button type="submit" class="lato_font" (click)="canlink('/co-planning')">Co-planning</button>
    </li>

    <li>
      
      
      <button type="submit" class="lato_font" (click)="canlink('/createplan')">Create Plan</button>
    </li>


    <li>
      
  
      <button type="submit" class="lato_font" (click)="canlink('/home')">Home</button>
    </li>

  </ul>

</div>