#block1{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 30px;
    width: 750px;
    border: 0px solid rgba(52, 218, 118, 0.822);
    padding: 0px;
    margin: auto;
    text-align: center;
    color:white;
    border-bottom: none;
    border-bottom-right-radius: 25px;
  }
  .example-spacer{
    
      flex: 1 1 auto;
    }
    
    #block{
      width: 750px;
      border: 0px solid rgba(52, 218, 118, 0.822);
      padding: 25px;
      margin: auto;
      background: linear-gradient(to bottom,rgba(128, 124, 124, 0.637) 20%, rgba(0,0,0,0.6) 80%);
  }
  input{
  
    width: 100%;
    height: 35px;
    border:none;
    border-radius:5px; 
    font-size: 20px;
    -webkit-input-placeholder:white;
  }
  .right {
    width: 80%; /*or 45%*/
    float: left;
    } 
    
  .left {
    width: 20%; /*or 55%*/
    float: left;
  }
  
  #block1{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 30px;
    width: 750px;
    border: 0px solid rgba(52, 218, 118, 0.822);
    padding: 0px;
    margin: auto;
    text-align: center;
    color:white;
    border-bottom: none;
    border-bottom-right-radius: 25px;
  }
    #table{
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
      color:black;
    }
    #table-odd{
      background-color: #f1f1f1;
    }
    #table-even {
      background-color: #1da3f7;
      
    }
    #table-stable{
      background-color: #e9f7ff;
  
    }
  #fontw{
    color:white;
    font-size: 20px;
  }
  #fontb{ 
    color:black;
    font-style:italic;
    font-size: 16px;
  }
  
  #fontr{
    color:red;
    font-size: 20px;
  }