#block1{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 30px;
    width: 750px;
    border: 0px solid rgba(52, 218, 118, 0.822);
    padding: 0px;
    margin: auto;
    text-align: center;
    color:white;
    border-bottom: none;
    border-bottom-right-radius: 25px;
  }