.example-spacer{
  
    flex: 1 1 auto;
  }
  
  
  #table{
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  #table-odd{
    background-color: #f1f1f1;
  }
  #table-even {
    background-color: #1da3f7;
  }
  #table-stable{
    background-color: #e9f7ff;
  }