<html>
        <form>
            <br>
            <br>
            <br>
            <br>
            <h1><label>Tripplaner</label></h1>         
            <div class="container">
              <label><b>Username</b></label>
              
              <input type="text" [(ngModel)]="user.id" placeholder="Enter Username" name="userid">
              <label><b>Password</b></label>
              <input type="password" [(ngModel)]="user.pw" placeholder="Enter Password" name="psw" required>
          
              <button type="submit" (click)="submit()">Login</button>
            </div>
          </form>

</html>
