<html>
        <form>
            <br>
            <br>
            <br>
            <br>
            <h1><label>Tripplaner</label></h1>         
            <div class="container">
              <label><b>Username</b></label>
              
              <input type="text" [(ngModel)]="user.id" placeholder="Enter Username" name="userid">
              <label><b>Password</b></label>
              <input type="password" [(ngModel)]="user.pw" placeholder="Enter Password" name="psw" required>
          
              <button type="submit" (click)="submit()">Login</button>
            </div>
          </form>
   
  
 
      <a routerLink="/createplan">CREATPLAN !!</a><br>
      <a routerLink="/deleteplan">DELETE !!</a><br>
      <a routerLink="/editplan">EDITPLAN !!</a><br>
      <a routerLink="/favnoti">FAVNOTIFICATION</a><br>
      <a routerLink="/review-post">REVIEW&POST!!</a><br>
      <a routerLink="/co-planning">CO-PLANNING</a><br>
      
      <router-outlet></router-outlet>


 
</html>
