
 <div id="block">
   <div id="fontr">Login<br><br></div>
	
    	<input type="text" placeholder="Username" required="required" /><br>
        <input type="password" placeholder="Password" required="required" /><br><br><br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large" (click)="submit()"><h5>Login to Triplanner</h5></button><br>
        <div *ngIf="islogin;else WrongTmp1">
          <div id="fontw">Success<br><br></div>
        </div>

        <ng-template #WrongTmp1><div id="fontw">Wrongpassword<br><br></div></ng-template>
        <a routerLink="/register">Create a free Triplanner Acount</a>

</div>
  