
#block{
    background: linear-gradient(to bottom,rgba(128, 124, 124, 0.637) 20%, rgba(0,0,0,0.6) 80%);
    
        width: 350px;
        height: auto;
    padding: 25px;
    margin: auto;
    text-align:center;
    font-family: "Arial", Verdana, Sans-serif;
}

input{
    background: transparent;
    color:white;
    width: 100%;
    height: 40px;
    border:none;
    font-size: 18px;
    border-bottom: 1px solid white;
    -webkit-input-placeholder:white;
}
#fontw {
    font-size: 15px;
    font-style: normal;
    color:red;
    text-align:center;
  
}
#fontr {
    font-family: 'Arial';
    font-size: 30px;
    font-style: normal;
    color:white;
    text-align:center;
  
}