<div id="block">
    <img src="/assets/images/user.png" style="width:150px">
    <br>
    <div *ngFor="let user of user;let i =index;">
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
    </div>
    <div style="text-align:left">
        <a routerLink="/editplan" routerLinkActive="active" style="text-align:left">My Plan</a>
        <br>
        <a routerLink="/favnoti" routerLinkActive="active" style="text-align:left">Notification</a>
        <br>
    </div>
    <button type="submit" class="btn" (click)="logout()">logout</button>

</div>

<div *ngIf="isShow == false ;else show ">
    <div id="block2">
        <ul>
            <div *ngFor="let plan of plan;let i =index;">
                <li>
                    <button type="submit" id="button1" (click)="showdetail(i)">PlanName : {{plan.plan_name}} Review : {{plan.review_point}}</button>
            </div>
        </ul>
    </div>
</div>

<ng-template #show>
    <div id="block2">
        planname : {{show_planname}} startdate : {{show_startdate}} enddate : {{show_enddate}} favorite : {{show_favorite}} score
        : {{review_point}}
        <div *ngFor="let user of show_user;let i =index;">
            {{user.username}} {{user.email}}
        </div>
        <div *ngFor="let act of act;let i =index;">
            {{act.date}} {{act.starttime}} {{act.type}} activityname : {{act.activityname}} detail : {{act.detail}}
        </div>
        <button type="submit" id="button1" (click)="isShow = false">back</button>
        <button type="submit" id="button1" (click)="favorite()">fav</button>
    </div>
</ng-template>