/* Style the tab */
div.tab {
  float: right;
  background-color: #f1f1f1a9;
  width: 20%;
  height: 800px;
  text-align:center;
  margin:0px;
}


/* Style the tab content */
div.content {
  float: center;
  background-color: #3535358a;
  width: 75%;
  height: 790px;
  margin-left:50px;
  margin-top: 10px;
}

/* Style the tab content */
div.block {
  float: left;
  width: 250px;
  height: 250px;
}
/*--------------------------------------------*/

#block1{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 25px;
  padding: 0px;
  margin-left: 50px;
  text-align: left;
  color:rgb(255, 255, 255);
}
#fonthead{
  font-family: 'Arial';
  font-weight: bold;
  font-size: 40px;
  padding: 0px;
  margin: 10px;;
  text-align: center;
  color:rgb(255, 255, 255);
}
#font{
  font-family: 'Arial';
  font-size: 20px;
  padding: 0px;
  color:rgb(255, 255, 255);
}

#button1 {
  border:none;
  white-space: nowrap; 
  color: rgb(34, 34, 34);
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#button1:hover {
  background-color: rgba(255, 255, 255, 0.274); /* Green */
  color: white;
}
/*----------------------------------------------------------*/
.container {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(223, 223, 223, 0.801);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: rgb(34, 34, 34);
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
p.uppercase {
  text-transform: uppercase;
}

.btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /*stroke: #EC0033;*/
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span{
background: #28a6ee;
background: -moz-linear-gradient(left,  #28a6ee 0%, #4455f1 100%);
background: -webkit-linear-gradient(left,  #28a6ee 0%,#4455f1 100%);
background: linear-gradient(to right,  #28a6ee 0%,#4455f1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}