<div class="tab">
    <br>
    <br>
    <div class="avatar-flip">
        <br>
        <br>
        
          <img src="/assets/images/person.png"  height="150" width="150">
          <img src="/assets/images/GIF.webp" height="150" width="150">
    </div>
    <div *ngFor="let user of user;let i =index;">
        <div id='font' style=" color:rgb(41, 41, 41);">
            <br>
            <p class="uppercase">{{user.username}}</p>
            <p class="uppercase">{{user.email}}</p>
        </div>
    </div>
    <div id='font'>
        <br>
        <a routerLink="/editplan" routerLinkActive="active" class="fnt">My Plan</a>
        <br>
        <a routerLink="/favnoti" routerLinkActive="active" class="fnt">Notification</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button type="submit" class="button" (click)="logout()">logout</button>
    </div>

    
</div>

<!--home-->
<div class="content">
    <div *ngIf="isShow == false ;else show ">
        <br>
        <div id='block1'>
            Recent plans by travelers
            <br>
            <br>
            <div class="block" style=" align-items: center;" >
                <div *ngFor="let plan of plan;let i =index;">
                    <div class="container" >

                        <img src="/assets/images/trip.jpg" alt="Avatar" class="image">
                        <div class="overlay">

                            <button type="submit" id="button1" (click)="showdetail(i)">PlanName:{{plan.plan_name}}
                                <br>Review : {{plan.review_point}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="block" style=" margin-left: 80px;">
                <div class="container">
                    <img src="/assets/images/trip.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div *ngFor="let plan of plan;let i =index;">
                            <button type="submit" id="button1" (click)="showdetail(i)">PlanName:{{plan.plan_name}}
                                <br>Review : {{plan.review_point}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block" style=" margin-left: 80px;">
                <div class="container">
                    <img src="/assets/images/trip.jpg" alt="Avatar" class="image">
                    <div class="overlay">
                        <div *ngFor="let plan of plan;let i =index;">
                            <button type="submit" id="button1" (click)="showdetail(i)">PlanName:{{plan.plan_name}}
                                <br>Review : {{plan.review_point}}</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="block" style=" align-items: center;">
            <!--start button-->
            <div>
                <a type="submit" (click)="canlink('/createplan')" class="btn">
                    <svg width="277" height="62">
                        <defs>
                            <linearGradient id="grad1">
                                <stop offset="0%" stop-color="#8f44f1" />
                                <stop offset="100%" stop-color="#1d84c0" />
                            </linearGradient>
                        </defs>
                        <rect x="5" y="5" rx="25" fill="none" stroke="url(#grad1)" width="266" height="50"></rect>
                    </svg>
                    <!--<span>Voir mes r?alisations</span>-->
                    <span>START PLANNING</span>
                </a>
            </div>
            <!--22-->
        </div>
    </div>
</div>
<ng-template #show>
    <div id='fonthead'>
        <p class="uppercase">
            {{show_planname}}
        </p>
    </div>
    <div id='font'>
        <p style="float:left; margin-left:30px; ">START DATE
            <br style="color:darkgray">{{show_startdate}}</p>
        <p style="float:right; margin-right:30px; ">END DATE
            <br> {{show_enddate}} </p>
        <br>
        <div style="text-align:center;"> FAVORIE {{show_favorite}} SCORE</div>
        <div style="text-align:center;"> REVIEW RATE : {{review_point}}</div>
        <div *ngFor="let user of show_user;let i =index;">
            <p class="uppercase" style="float:left; margin-right:625px; font-size:18px;color:darkgrey;">
                Create By {{user.username}} <br>E-mail {{user.email}}
            </p>
        </div>

    <!--plan table-->
            <div class="table-users">
                    <div class="header">PLAN</div> 
                    <table cellspacing="0" >
                       <tr>
                            
                            <th style="text-align: center;">Date</th>
                            <th style="text-align: center;">Time</th>
                            <th style="text-align: center;">Activities</th>
                            <th style="text-align: center;">detail</th>
                       </tr>
                       <tr  *ngFor="let act of act;let i =index;">

                            
                            <td >{{act.date}}</td>
                            <td>{{act.starttime}}</td>
                            <td>{{act.activityname}}</td>
                            <td>{{act.detail}}</td>
                        </tr>
                    </table>
                    <thead>
                            <th></th>
        
                        </thead>
            </div>
        <!--PLAN TABLE-->
        
    </div>
    
        <div id="divfix">
            <button type="submit" class="button" (click)="isShow = false" >BACK</button>
        </div>   
        <div id="divfix2">
            <button type="submit" class="button" (click)="favorite()" >FAVORIE</button>
        </div>  
   
    <!--<button style="float:left; margin-left:30px; " type="submit" id="button1" (click)="isShow = false">back</button>-->
    <!--<button style="float:right; margin-right:30px; " type="submit" id="button1" (click)="favorite()">fav</button>-->
</ng-template>