<div id="block">
<div class="login-wrap">
	<div class="login-html">
		  <label style="font-size:22px; margin-right:15px; padding-bottom:5px;margin:0 15px 10px 0;display:inline-block;
      border-bottom:2px solid transparent;" class="sign-in" routerLink="/login">LOGIN</label>
      <label id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Register</label></label>
		    <div class="login-form">
			      <div class="sign-up-htm">
				       <div class="group">
                  <label for="user" class="label">Username</label>
                  <input id="user" type="text" class="input" [(ngModel)]="username" required="required" />
                </div>
				        <div class="group">
                  <label for="pass" class="label">Password</label>
                  <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password" required="required" />
                </div>
                <div class="group">
                  <label for="pass" class="label">Repeat Password</label>
                  <input id="pass" type="password" class="input" data-type="password" [(ngModel)]="password2" required="required" />
                </div>
                <div class="group">
                  <label for="pass" class="label">Email Address</label>
                  <input id="pass" type="text" class="input" [(ngModel)]="email" required="required" />
                </div>
                <div class="group">
                  <input type="submit" (click)="submit()" class="button" value="Register">
                </div>
                <div *ngIf="status == 'initial';else WrongTmp1">
                </div>
                <ng-template #WrongTmp1>
                    <div style="color:darkred">{{status}}</div>
                </ng-template>
                
				        <div class="hr"></div>
                <div class="foot-lnk">
                  <label for="tab-1" routerLink="/login" style="color:aliceblue">Already Member?</label>
                </div>
			      </div>
			      
		    </div>
	  </div>
</div>
</div>
<!--<br>
<div id="block">
  <div id="fontr">Register
    <br>
  </div>
  <div id="fonts">
    Username
    <br>
    <input type="text" [(ngModel)]="username" required="required" />
    <br> Password
    <br>
    <input type="password" [(ngModel)]="password" required="required" /> Re-Password
    <br>
    <input type="password" [(ngModel)]="password2" required="required" />
    <br> Email
    <br>
    <input type="text" [(ngModel)]="email" required="required" />
    <br>
  </div>
  <br>
  <button type="submit" class="btn btn-primary btn-large" (click)="submit()">
    <h5>Confirm</h5>
  </button>
  <br>
  <div *ngIf="status == 'initial';else WrongTmp1">
    <br>
  </div>
  <ng-template #WrongTmp1>
    <div id="fontw">{{status}}
      <br>
      <br>
    </div>
  </ng-template>
  <a routerLink="/login">Back to Login</a>

</div>-->