
#block{
    background: linear-gradient(to bottom, rgba(128, 124, 124, 0.637) 20%, rgba(0,0,0,0.6) 80%);
    
        width: 700px;
        height: 60%;
    padding: 25px;
    margin: auto;
    text-align:center;
}

input{
    background: white;
    color:black;
    width:100%;
    height: 20px;
    border:none;
    font-size: 15px;
    border-bottom: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
    -webkit-input-placeholder:white;

}
#fontw {
    font-size: 15px;
    font-style: normal;
    color:red;
    text-align:center;
  
}

#fontr {
    font-family: 'Arial';
    font-size: 30px;
    font-style: normal;
    color:white;
    text-align:center;
}

#fonts {
    font-size: 15px;
    font-style: normal;
    color:white;

    text-align:left;
}