#block{
    
    width: 700px;
    height: 60%;
    padding: 25px;
    margin: auto;
    text-align:left;
}
/****************************/
body{
    margin:0;
	color:#6a6f8c;
	font:600 16px/18px 'Open Sans',sans-serif;
}

.login-wrap{
	width:100%;
    margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    padding: 25px;
	width:100%;
	height:100%;
	position:absolute;
	background: linear-gradient(to bottom, rgba(128, 124, 124, 0.637) 20%, rgba(0,0,0,0.6) 80%);
}
.sign-up-htm,
{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}

.tab,
.label,
.button{
	text-transform:uppercase;
}
.tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.tab{
	color:#fff;
	border-color:#e6ebf5;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.group{
	margin-bottom:15px;
}
.label,
.input,
.button{
	width:100%;
	color:#fff;
	display:block;
}
.input,
.button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.group input[data-type="password"]{
	/*text-security:circle;*/
	-webkit-text-security:circle;
}
.group .label{
	color:rgb(216, 216, 216);
    font-size:12px;
    text-align:left;
}   
.group .button{
	background:#1161ee;
}
.group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}

.group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.group .check:checked + label{
	color:#fff;
}
.group .check:checked + label .icon{
	background:#1161ee;
}

/*****************************/
.hr{
	height:2px;
	margin:10px 0 10px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
